html *
{
   font-family: "Arial" !important;
}
html, body, #container, #map {
    height: 100%;
    width: 100%;
    margin: 0;
}
.toolbox {
    position: absolute;
    top: 24px;
    right: 24px;
    min-width: 250px;
    max-width: 250px;
    z-index: 2;
    overflow-wrap: break-word;
  }

  .box {
    background: #FFFFFF;
    z-index: 2;
    border-radius: 4px;
    padding: 16px;
    margin: 0 0 24px;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.24);
  }

  .open-sans {
    color: #747D82;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .current-location {
    font-size: 1.4em;
    line-height: 1.6;
  }