@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
html, body, #container, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Lato";
}
.toolbox {
  position: absolute;
  background: rgba(255,255,255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.24);
  top: 1vh;
  right: 1vw;
  min-width: 20rem;
  max-width: 30rem;
  z-index: 2;
  overflow-wrap: break-word;
  text-align: center;
}

.box {
  z-index: 2;
  margin: 0 0 24px;
}

.box-1 {
  background-color: #ffa45b; 
}
.box-2 {
  background-color: #ffda77; 
}
.box-3 {
  background-color: #fbf6f0; 
}
.box-4 {
  background-color: #aee6e6; 
}

.open-sans {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.current-location {
  font-size: 2em;
  line-height: 1.6;
  min-height: 5rem;
  padding: 0.5rem;
}

.btn {
  font-size: 1.3em;
  display: block;
  float: left;
  padding: 0.3rem 0;
  border-width: 0;
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
  width: 50%;
  box-sizing: border-box;
  margin: 0;  
  transition: background-color .3s;
  height: 100%;
}
.btn.left {
  border-bottom-left-radius: 1rem;
}
.btn.right {
  border-bottom-right-radius: 1rem;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
 

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}


h2 {
  font-weight: normal;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}
.footer-bar {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 4rem;
  height: 4rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000;
}

.svg-icon circle {
  stroke: #000;
  stroke-width: 1;
}